---
import NavBar from "../components/NavBar.astro";
import Home from "./home.astro";
import Layout from "../Layout/Layout.astro";
---

<html>
  <Layout title="PORTFOLIO" />
  <body>
    <header>
      <NavBar />
    </header>
    <Home />
  </body>
</html>
