---
import AboutContent from "./AboutContent.astro";
import ExperienceList from "./ExperienceList.astro";
---

<section class="flex flex-col items-center justify-center gap-5 bg-red p-8">
  <AboutContent />
  <ExperienceList />
</section>
