---
import Button from "./Button.astro";
---

<article class="flex items-center justify-center gap-5 w-full max-w-6xl">
  <img
    class="w-48"
    src="/assets/photoabout.jpg"
    alt="photo de Antoine Chauveau"
  />
  <div class="flex flex-col gap-5">
    <h2 class="font-bold text-4xl text-light-cream">A propos</h2>
    <p class="font-medium text-lg text-light-cream">
      Lorem ipsum dolor sit amet consectetur. Pretium auctor proin egestas
      enim nunc molestie integer at tortor. Dolor id etiam turpis blandit
      mauris phasellus amet at gravida. Integer egestas risus netus
      adipiscing in sagittis. Pellentesque nisi ultrices tortor metus.
    </p>
    <Button size="medium" color="black">
      Mon CV
    </Button>
  </div>
</article>