---
import CardRealization from "./CardRealization.astro";

// Static data for the component
const cardRealizations = [
  { title: "UI/UX", href: "/project", link: "Voir plus" },
  { title: "Photographe", href: "/pictures", link: "Voir plus" },
  { title: "Vidéaste", href: "/videos", link: "Voir plus" },
  { title: "Front Developer", href: "/project", link: "Voir plus" },
];
---

<section class="flex items-center flex-col gap-5 p-5">
  <div class="flex items-center justify-center gap-5">
    <div class="flex flex-col items-center gap-5 w-3/6">
      <h1 class="text-9xl font-bold font-truculenta text-red">portfolio</h1>
      <h2
        class="bg-red text-light-cream font-truculenta font-extrabold text-2xl px-8 py-2 min-w-[150px] text-center"
      >
        Antoine CHAUVEAU
      </h2>
      <p
        class="text-black text-base font-medium p-8 min-h-[80px] flex items-center justify-center"
      >
        Salut ! Bienvenue sur mon portfolio. Ici, on peux découvrir mes projets
        et compétences en tant que photographe, designer UI/UX et développeur
        front.
      </p>
    </div>
    <img
      class="sm:w-52 md:w-72 w-36"
      src="/assets/bdx-22.jpg"
      alt="photo de Antoine CHAUVEAU"
    />
  </div>

  <div class="flex items-center justify-center gap-5 flex-wrap">
    {
      cardRealizations.map((item, index) => (
        <CardRealization
          key={index}
          title={item.title}
          href={item.href}
          link={item.link}
        />
      ))
    }
  </div>
</section>
