---
import NavLink from "./NavLink.astro";
import Button from "./Button.astro";

const navLinks = [
  { name: "Accueil", href: "/" },
  { name: "Mes projets", href: "/projects/" },
  { name: "Mes photos", href: "/pictures/" },
  { name: "Mes videos", href: "/videos/" },
];
---

<nav class="flex items-center justify-center gap-5 p-5">
  <ul
    class="flex items-center justify-center w-max px-8 py-5 gap-5 bg-background-nav-bar"
  >
    {
      navLinks.map((link) => (
        <li id={link.href}>
          <NavLink href={link.href} children={link.name} />
        </li>
      ))
    }
  </ul>
  <Button color="red" size="medium" href="/contact" children="Contact" />
</nav>
