---
const { href, children } = Astro.props;
---

<a
  href={href}
  class="navLink w-max px-6 py-2 bg-transparent text-text-nav-link font-truculenta font-bold text-base cursor-pointer hover:text-text-nav-link-hover hover:bg-background-nav-link-hover transition-transform duration-300"
>
  {children}
</a>
